*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.7rem;
}
html::-webkit-scrollbar-track{
    background: #292929;
}
html::-webkit-scrollbar-thumb{
    background-color: #46505f;
    border-radius: 3rem;
}
.website{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(IMG_1281.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}
.nav .name a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 700;
    font-size: larger;
}
samp{
    color: #ff5800;
}
.navber{
    display: flex;
    gap: 2rem;
}
.navber a{
    font-size: medium;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: 0.4s;
}
.navber .active , a:hover{
    color: #ff5800;
}
/*Nav end*/
.title{
    padding-top: 7.5%;
    padding-left: 12%;
}
.title .tname h3 label{
    background-color: #ff5800;
    padding: 7px 10px;
    margin-right: 10px;
}
.title .tname h1{
    font-size: 9vmin;
    color: white;
    letter-spacing: 1px;
}
.title .tname h3{
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 10px;
}
.title .tname h2{
    color: white;
    letter-spacing: 1px;
    font-size: 6vmin;
    margin-bottom: 30px;
}
.title .tname h5{
    font-size: small;
    font-weight: 600;
    line-height: 20px;
    color: #bfb8b1;
    margin-bottom: 35px;
}
.title .btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    color: white;
}
.title .btns button{
    width: 130px;
    padding: 10px;
    background-color: #ff5800;
    border: 3px solid #ff5800;
    color: white;
    font-size: medium;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s;
}
.title .btns button:hover{
    transform: scale(0.8);
}
.title .btns i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px 12.5px;
    border-radius: 50%;
    background-color: #ff5800;
    cursor: pointer;
    transition: transform 0.5s;
}
.title .btns i:hover{
    transform: scale(1.3);
}
/*End*/
.About {
    width: 100vw;
    height: 100vh;
    background-color: rgba(41,41,41,255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.About .image img{
    width: 330px;
    border-radius: 11px;
}
.About .Aname h1{
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    font-size: 8vmin;
    padding-bottom: 10px;
}
.About .Aname h2{
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    font-size: larger;
    padding-bottom: 20px;
}
.About .Aname h5{
    color: #909fa6;
    font-size: small;
    font-weight: 500;
    line-height: 21px;
    padding-bottom: 30px;
}
.About .Aname button{
    width: 120px;
    padding: 10px 0;
    background-color: #ff5800;
    border: 2px solid #ff5800;
    color: white;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s;
}
.About .Aname button:hover{
    transform: scale(0.8);
}
/*End*/
.Services{
    width: 100vw;
    height: 80vh;
    background-color:#202020;
}
.Services .Sname h5{
    font-size:small;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
}
.Services .Sname h2{
    font-size: 7vmin;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
}
.Services .Sname{
    padding: 4% 0;
    text-align: center;
}
.Services .Box .box{
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    background-color: #292929;
    cursor: pointer;
    transition: transform 0.5s;
}
.Services .Box .box:hover{
    transform: translateY(-11px);
}
.Services .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.Services .Box .box .phone{
    color: white;
    font-size: 22px;
    padding-bottom: 10px;
}
.Services .Box .box .ion{
    color: white;
    font-size: 27px;
    padding-bottom: 10px;
}
.Services .Box .box .pen{
    color: white;
    font-size: 22px;
    padding-bottom: 10px;
}
.Services .Box .box h3{
    color: white;
    font-size: large;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.Services .Box .box h4{
    font-size: small;
    color: rgba(255, 255, 255, 0.6);
    line-height: 21px;
    font-weight: 500;
    padding-bottom: 20px;
}
.Services .Box .box button{
    width: 120px;
    padding: 10px 0;
    background-color: #313131;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    letter-spacing: 1px;
    transition: transform 0.5s;
}
.Services .Box .box button:hover{
    background-color: rgb(255, 255, 255,0.4);
    transform: scale(1.1) translateX(9px);
}
.Portfolio{
    width: 100vw;
    height: fit-content;
    background-color: #292929;
}
.Portfolio .Pimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2%;
    padding-bottom: 3%;
}
.Portfolio .Pimg .Img{
    transition: transform 0.5s;
}
.Portfolio .Pimg .Img:hover{
    transform: translateY(-11px);
}
.Portfolio .Pimg .Img img{
    width: 300px;
    border-radius: 12px;
}
.Portfolio .Pname h5{
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.Portfolio .Pname h2{
    font-size: 6vmin;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
}
.Portfolio .Pname{
    text-align: center;
    padding: 3% 0;
}
/*End*/
.Contact{
    width: 100vw;
    height: 90vh;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 8%;
    gap: 5rem;
}
.Contact .Cname h1{
    color: white;
    padding-bottom: 10px;
    font-size: 7vmin;
    letter-spacing: 1px;
}
.Contact .Cname h2{
    color: white;
    padding-bottom: 10px;
    font-size: 3.5vmin;
    font-weight: 600;
    letter-spacing: 1px;
}
.Contact .Cname h3{
    color: white;
    padding-bottom: 25px;
    font-size: small;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
.Contact .Cname h5{
    color: white;
    padding-bottom: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.5s;
}
.Contact .Cname h5:hover{
    transform: translateX(15px);
}
.Contact .Cname .Cicon{
    display: inline-flex;
    gap: 1.5rem;
    font-size: 1.7rem;
    padding-top: 7%;
    color: white;
}
.Contact .Cname .Cicon .ION{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5800;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.Contact .Cname .Cicon .ION:hover{
    background-color: white;
    color: #ff5800;
}
.Contact .Cmail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
}
.Contact .Cmail .Tnam, .Enam ,.Nnam{
    padding: 12px 10px;
    background-color: #292929;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
}
.Contact .Cmail .Tnam:focus{
    outline: 1px solid #ff5800;
}
.Contact .Cmail .Nnam:focus{
    outline: 1px solid #ff5800;
}
.Contact .Cmail .Enam:focus{
    outline: 1px solid #ff5800;
}
.Contact .Cmail textarea{
    height: 150px;
    resize: none;
    padding: 10px 12px;
    background-color: #292929;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
}
.Contact .Cmail textarea:focus{
    outline: 1px solid #ff5800;
}
.Contact .Cmail .Btn{
    width: 140px;
    padding: 12px 0;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #ff5800;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.5s;
}
.Contact .Cmail .Btn:hover{
    transform: scale(1.2);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #46505f;
    padding: 0 12%;
}
.footer h5{
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}
.footer a{
    color: white;
    background-color: #ff5800;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}